<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pizza Demo | {{title}}</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}?v=6">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}?v=6">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}?v=6"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}?v=6"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}?v=6"></script>
    {% block header %}{% endblock %}
</head>

<body>
    <div class="container">
        {% block content %}{% endblock %}
        <p class="text-center pt-3 text-secondary small">Order your pizza with Confluent, powered by Confluent
            Cloud&copy; and Apache Kafka&copy;
        </p>
    </div>
</body>

</html>