<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pizza Demo | {{title}}</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}?v=8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}?v=8">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}?v=8"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}?v=8"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}?v=8"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}?v=8"></script>
    {% block header %}{% endblock %}
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                {% block content %}{% endblock %}
            </div>
        </div>
        <div class="mt-1">
            <div class="col-12">
                <p class="text-center text-secondary small">Order your pizza with <b>Confluent</b>, powered by <a
                        href="https://www.confluent.io/confluent-cloud" target="_blank">Confluent Cloud</a>&copy;</p>
            </div>
        </div>
    </div>
</body>

</html>