{% extends 'header.html' %}

{% block content %}
{% include 'navbar.html' %}
<h4><span class="badge badge-success w-100">We have received your order!</span></h4>
<table class="table table-striped table-hover">
    <tbody>
        <tr>
            <th>Order</th>
            {% autoescape false %}
            <td><a href="orders/{{order_id}}">{{order_id}}</a></td>
            {% endautoescape %}
        </tr>
        <tr>
            <th>Name</th>
            <td>{{username}}</td>
        </tr>
        <tr>
            <th>Sauce</th>
            <td>{{sauce}}</td>
        </tr>
        <tr>
            <th>Cheese</th>
            <td>{{cheese}}</td>
        </tr>
        <tr>
            <th>Main topping</th>
            <td>{{main_topping}}</td>
        </tr>
        <tr>
            <th>Extra topping(s)</th>
            <td>{{extra_toppings}}</td>
        </tr>
    </tbody>
</table>
{% endblock %}