<!DOCTYPE html>
<html lang="en">

<head>
    <title>Confluent | {{title}}</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}?v=5">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}?v=5">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}?v=5"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}?v=5"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}?v=5"></script>
    {% block header %}{% endblock %}
</head>

<body>
    <div class="container">
        {% autoescape false %}
        {% endautoescape %}
        <nav class="navbar navbar-expand-lg navbar-light pb-2">
            <p class="navbar-brand"><img src="{{ url_for('static', filename='images/logo.png') }}" width=62
                    class="map img-resonsive" /></p>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="btn btn-outline-dark menu-link m-1" href="/" title="Place your order">View
                            Menu</a>
                    </li>
                    <li class="nav-item active">
                        <a class="btn btn-outline-dark menu-link m-1" href="/orders" title="View all orders">All
                            Orders</a>
                    </li>
                </ul>
                <div class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="order" placeholder="Order" id="order_id_query"
                        aria-label="Search" value="{{order_id}}">
                    <a href="javascript:void(0);" class="btn btn-outline-dark my-2 my-sm-0"
                        onClick="javascript:viewOrder();">Search</a>
                </div>
            </div>
        </nav>
        {% block content %}{% endblock %}
        <p class="text-center pt-3 text-secondary small">Order your pizza with Confluent, powered by Confluent
            Cloud&copy; and Apache Kafka&copy;
        </p>
    </div>
</body>

</html>