{% extends 'header.html' %}

{% block content %}
{% include 'navbar.html' %}
<h4><span class="badge badge-dark w-100">My orders&nbsp;&nbsp;<a href="/orders"><img
                src="{{ url_for('static', filename='images/refresh.png') }}" title="Refresh page" width="24"
                class="img_border" /></a></span></h4>
<table class="table table-striped table-hover table-sm small">
    <tbody>
        <thead>
            <tr>
                <th>Order</th>
                <th>Order Time</th>
                <th>Status</th>
            </tr>
        </thead>
        {% for order_id, order in order_ids.items() %}
        <tr>
            <th><a href="/orders/{{order_id}}">{{order_id}}</a></th>
            <td>{{order.timestamp}}</td>
            <td>{{order.status_str}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}